[submodule "extern/fwcore"]
	path = extern/fwcore
	url=https://github.com/einsweniger/viscom_framework_core.git
	branch = bitbounce
[submodule "extern/fwenh"]
	path = extern/fwenh
	url = https://github.com/einsweniger/viscom_framework_enh.git
	branch = bitbounce
