_SYNCAPP/
shaderold/
srcold/
data/old/
**/*Precompute*.???
data/*/*.dat
.vs/
resources/shader/**/*.gen
resources/shader/shadertoy/*
scripts/__pycache__
!resources/**/*.obj
build-*/
cmake-build*/
extern/SGCT-2.7.3-bin/
resources.tgz
.idea/
resources/ShaderToy/
resources/media/
extern/rocket
msbuild/*
